/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_helpers";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro";
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  // background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");

  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dddddd' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  // background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  // background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23dddddd' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.navbar {
  height: 2rem;
  width: 100%;
  background: #DDD;
  padding: 0 1rem;
  border: 2px solid #555;
  border-radius: .25rem;
  position: relative;
  z-index: 100;
  .navbar-icon {
    display: inline-flex;
    align-content: center;
    cursor: pointer;
    padding: 0 1rem;
    height: 100%;
    &:hover {
      background: #555;
    }
    &:active {
      background: inherit;
    }
  }
}

.navbar-dropdown {
  position: absolute;
  top: calc(2rem - 2px);
  left: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #555;
  border-top: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background: white;
}

.navbar-dropdown--item {
  text-align: left;
  padding: .25rem;
  font-size: 1rem;
  border: 0;
  background: white;
  cursor: pointer;
  &:hover {
    background: #ddd;
  }
  &:focus {
    outline: 0;
  }
}

.icon-container {
  border-radius: .25rem;
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: .25rem;
  &:hover {
    background: #DDD;
  }
  &:active {
    background: inherit;
  }
}

.icon {
  margin-bottom: .5rem;
}

.icon-label {
  font-size: .75rem;
}

.content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30rem;
  border-radius: .25rem;
  border: 2px solid #555;
  &.window-projects {
    top: 6rem;
    left: 4rem;
  }
  &.window-selected {
    top: 18rem;
    left: 15rem;
  }
  &.window-about {
    top: 2rem;
    left: 18rem;
  }
}


.window-nav {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  background: #DDD;
  padding: 0 1rem;
  border-bottom: 2px solid #555;
}

.window-nav--label {
  margin: auto;
}

.window-content-container {
  display: flex;
  background: #fff;
  justify-content: space-between;
}

.window-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 4rem;
}

.window-content--about {
  flex-direction: column;
  justify-content: center;
  * {
    margin-bottom: 1rem;
  }
}

.window-sidebar {
  align-self: stretch;
  padding: .25rem;
  border-left: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  border: 2px solid #555;
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
  cursor: pointer;
  &:hover {
    background: #DDD;
  }
  &:active {
    background: inherit;
  }
}
